body {
    background-color: #222831;
}

.baslik{
    font-size: 50px;
    text-align: center;
    border: 5px;
    color: #eeeeee;
}
h1 {
    color: navy;
    margin-left: 20px;
}

tr:hover {
    background-color: #393e46;
}

table, tr, td,th,.baslik {
    border: none;
    font-family: "helvetica", sans-serif;

}
th
{
    font-size: 20px;
}
tr{
    color: #eeeeee;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0px;
}

